body {
  background-color: #15232d;
  color: aliceblue;
}
.posts {
  display: flex;
  align-items: center;
}
.post-card {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  .title {
    display: block;
    text-decoration: none;
    font-weight: bolder;
  }
}
